.container {
    max-width: 720px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 10px;
}

.header__wrapper {
    padding: 64px 0 40px;
    border-bottom: 1px solid #DEE2E6;
}

.text {
    margin-bottom: 47px;
}

.text__title {
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000;
}

.text__subtitle {
    font-family: Inter;
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #000;
}

.header__search {
    display: flex;
    justify-content: space-between;
}

.search__text,
.select__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #818182;
    margin-bottom: 12px;
}

.search__input {
    height: 38px;
    width: 452px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 15px;
    outline: none;
}

.search__input::placeholder {
    color: #ABB5BE;
}


#select {
    height: 38px;
    width: 216px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 15px;
    color: #ABB5BE;
}